{% extends "base.html" %}

{% block content %}
    <h1>Build A Blog</h1>
    <form  action= '/newpost' method='POST'>
        <label>
            New Title:
            <br>
            <input type="text" name='title' value='{{title}}' />
        </label>
        <span class="error">{{title_error}}</span>
        <label>
            <br>
            New Body:
            <br>
            <textarea name="body" cols="50" rows="10" style="align-content:center; overflow:auto; border:6px outset #000000;" value='{{body}}' ></textarea>
        </label>
        <span class="error">{{body_error}}</span>
        <br>
        <input type="submit" value='Add Blog' />
    </form>


    <hr />



{% endblock %}